<div class="row">
    <div id="login" class="col s6 offset-s3">
        <h1 class="h-title">Reset password</h1>
        <div class="row">
            {{#if forgotError}}
            <p class="error">{{forgotError}}</p>
            {{/if}}
            <form action='/auth/resetPassword' method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="password" id="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="* required"></span>
                    </div>
                    <div class="input-field col s12">
                        <input name="confirm" id="confirm" type="password" class="validate" required>
                        <label for="confirm">Confirm password</label>
                        <span class="helper-text" data-error="* required"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
                <input type="hidden" name="_csrf" value={{csrf}}>
                <input type="hidden" name="userId" value={{userId}}>
                <input type="hidden" name="token" value={{token}}>
            </form>
        </div>
    </div>
</div>