<h1>Home</h1>
<h2>Our site was created for Developers by Developers</h2>

<p><a href="/courses"> hier you can find your course and become new knowledges </a></p>
<p><a href="/add"> If you are already Ninja in some technologies, then you can add you own сourses here </a></p>